section.hero 
    .hero__wrapper 
        .hero__circle.hero__circle-inner
        .hero__circle.hero__circle-outer

        .hero__hex.preprev.one 
            h3 Стадион
            h2 22 июня
            p 18:00
            a Купить билет
            .hero__reval
                span Соперник №1
                span Соперник №2
        .hero__hex.prev.two 
            h3 Стадион
            h2 24 июня
            p 17:00
            a Купить билет
            .hero__reval
                span Соперник №3
                span Соперник №4
        .hero__hex.active.three 
            h3 Стадион
            h2 12 июля
            p 19:00
            a Купить билет
            .hero__reval
                span Соперник №5
                span Соперник №6
        .hero__hex.next.four 
            h3 Стадион
            h2 26 июля
            p 18:00
            a Купить билет
            .hero__reval
                span Соперник №7
                span Соперник №8
        .hero__hex.prenext.five 
            h3 Стадион
            h2 1 августа
            p 16:00
            a Купить билет
            .hero__reval
                span Соперник №9
                span Соперник №10
        .hero__player.left
        .hero__player.right
