html {
    font-size: 16px;
    font-size: 1.6vh;
}

body {
    font-family: 'Roboto Condensed';
    margin: 0;
    padding: 0px 0px;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: gray;
        transition: 300ms;
    }
}

[class*="__container"] {
    max-width: 1290px;
    margin: 0 auto;
}

@media (max-width: 1180px) {

    
    [class*="__container"] {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }


}