header.header 
    .header__container 
        .header__wrapper 
            .header__logo
                p Билеты и абонименты 
            nav.hader__nav.nav 
                ul.nav__list 
                    li.nav__item 
                        a.nav__link(href="#") Как купить?
                    li.nav__item 
                        a.nav__link(href="#") Правила
                    li.nav__item 
                        a.nav__link(href="#") Возврат билетов
            .header__control.control 
                .control__enter
                    img(src="images/enter.svg", alt="enter") 
                    a Войти
                .control__burger
                    span 
                    span 
                    span
